.home_hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  //width: 100%;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  background-image: url("../../images/home/hero.webp");
  background-size: cover;
  background-repeat: no-repeat;
}
